@import "tailwindcss";
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 14px !important;
}
@keyframes switchTextSlideFade {
  0%, 40% {
    content: "Hoa quả";
    opacity: 1;
    transform: translateX(0);
  }
  45% {
    opacity: 0;
    transform: translateX(20px);
  }
  50%, 90% {
    content: "Giỏ quả";
    opacity: 1;
    transform: translateX(0);
  }
  95% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    content: "Hoa quả";
    opacity: 1;
    transform: translateX(0);
  }
}

.switch-text::after {
  width: 140px;
  content: "Hoa quả";
  animation: switchTextSlideFade 4s infinite;
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  display: inline-block;
}

.swiper-pagination-bullet {
  background-color: #d1d5db !important; /* Màu xám nhẹ cho thanh không hoạt động */
  opacity: 1 !important; /* Đảm bảo độ mờ không bị ảnh hưởng */
  width: 18px !important; /* Chiều rộng của gạch ngang */
  height: 4px !important; /* Chiều cao của gạch ngang */
  border-radius: 2px !important; /* Bo góc nhẹ để trông mềm mại hơn */
  margin: 0 4px !important; /* Khoảng cách giữa các gạch ngang */
  transition: all 0.3s ease; /* Thêm hiệu ứng chuyển động mượt mà */
}

.swiper-pagination-bullet-active {
  background-color: #F67010 !important; /* Màu xanh Indigo cho thanh đang hoạt động */
  width: 30px !important; /* Chiều rộng lớn hơn cho thanh đang hoạt động */
}

/* Tùy chỉnh vị trí của pagination (nếu cần) */
.swiper-pagination {
  bottom: 20px !important; /* Đẩy pagination xuống dưới một chút */
}
@keyframes switchTextSlide {
  0%, 40% {
    content: "Thương Hiệu";
    opacity: 1;
    transform: translateX(0);
  }
  45% {
    opacity: 0;
    transform: translateX(20px);
  }
  50%, 90% {
    content: "Chất lượng";
    opacity: 1;
    transform: translateX(0);
  }
  95% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    content: "Thương Hiệu";
    opacity: 1;
    transform: translateX(0);
  }
}

.switchtext::after {
  width: 240px;
  content: "Thương Hiệu";
  animation: switchTextSlide 4s infinite;
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  display: inline-block;
}